<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h1 class="text-center"><a href="/"><strong>Awwards Clone</strong></a></h1>
    </div>

    <ul class="list-unstyled components">

        <div class="text-center"> <img class="rounded-circle account-img" width="70px" height="70px"
                src="{{user.profile.profile_pic.url}}"><br>
            <small>Logged in as {{user.username}}</small>
        </div>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Account</a>
            {% if user.is_authenticated %}
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/"><i class="icon-home"></i> Home</a>
                </li>
                <li>
                    <a href="{%url 'profile' %}"> <i class="icon-user"></i> Profile</a>
                </li>
                <li>
                    <a href="{%url 'logout'%}"> <i class="icon-off"></i> Logout</a>
                </li>
            </ul>
        </li>
        {% else %}
        <li>
            <a class='btn btn-default' href="{%url 'login'%}"> <i class="icon-signin"></i> Login</a>
        </li>
        <li>
            <a class='btn btn-default' href="{%url 'register'%}"> <i class="icon-edit"></i> Register</a>
        </li>

        {% endif %}

        <!-- Adding a search form  -->


        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search project" name="projects">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit"><i class="icon-search"></i></button>
                </div>
            </div>

        </form>

        <!-- search form end -->
    </ul>
</nav>